{% extends "base.html" %}
{% load static %}

{% block title %}Dalilik - Event{% endblock %}

{% block main-content%}
<section class="event-page">
    <div class="event-form">
        <h2>Create an Event</h2>
        <form method="post" action="{% url 'event_create' %}">
            {% csrf_token %}    
            {{ event_form.as_p }}
            <button type="submit" name="action" value="save">Submit event</button>
            <button type="submit" name="action" value="save_add">Submit event & Add another</button>
        </form>
    </div>
    <div class="event-table">
        {% if events %}
	        <table border="1" class="tableinformation">
		        <thead>
			        <tr>
				        <th>Event Name</th>
				        <th>Organizer</th>
				        <th>Description</th>
				        <th>Date</th>
                        <th>Time</th>
				        <th>Room</th>
			        </tr>
		        </thead>
                <tbody>
                {% for event in events %}
                    <tr>
                        <td>
                            <a href="{% url 'event_detail' event.id %}" class="event-name">
                                {{ event.name }}
                            </a>
                        </td>
                        <td>{{ event.organizer }}</td>
                        <td>{{ event.description }}</td>
                        <td>{{ event.date }}</td>
                        <td>{{ event.time }}</td>
                        <td>{{ event.room }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No events found.</p>
        {% endif %}
    </div>
</section>
{% endblock%}