{% extends "base.html" %}
{% load static %}

{% block title %}Dalilik - About us{% endblock %}

{% block main-content%}
        <main>
            <table border="1" class="tableinformation">
                <thead>
                    <tr>
                        <th>Admin</th>
                        <th>Major</th>
                        <th>Hobby</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>Yahya Husain</td>
                        <td>Computer Science</td>
                        <td>Learn new things</td>
                    </tr>

                    <tr>
                        <td>Awad Alenzi</td>
                        <td>Computer Science</td>
                        <td>Sleep</td>
                    </tr>

                    <tr>
                        <td>Mohammad Shamsah</td>
                        <td>Computer Science</td>
                        <td>Gym</td>
                    </tr>
                    <tr>
                        <td>Ali Karm</td>
                        <td>Computer Science</td>
                        <td>Football</td>
                    </tr>
                </tbody>
            </table>
        </main>
{% endblock%}