{% extends "base.html" %}
{% load static %}

{% block title %}Dalilik - Activity Center{% endblock %}



{% block main-content%}      
        <main class="activity-hero">
            <section class="user-info">
                <img src="{% static 'images/user image.jpg' %}" alt="Registered user profile picture" class="user-big-pfp">
                <div>
                    <h1>Yahya Husain <br>PAAET, Computer Science</h1>
                </div>
            </section>
            <section class="activity-cards">
                <div class="activity-card">
                    <h2>STUDY LOCATIONS</h2>
                    <p>placeholder text placeholder text placeholder text placeholder text placeholder text placeholder text</p>
                </div>
                <div class="activity-card">
                    <h2>PROFESSOR RATINGS</h2>
                    <p>placeholder text placeholder text placeholder text placeholder text placeholder text placeholder text</p>
                </div>
                <div class="activity-card">
                    <h2>COURSE NOTES</h2>
                    <p>placeholder text placeholder text placeholder text placeholder text placeholder text placeholder text</p>
                </div>
                <div class="activity-card">
                    <h2>BOOTCAMPS</h2>
                    <p>placeholder text placeholder text placeholder text placeholder text placeholder text placeholder text</p>
                </div>
            </section>
            <section class="activity-cards2">
                <div class="activity-card">
                    <h2>UPCOMING EVENTS</h2>
                    <p>placeholder text placeholder text placeholder text placeholder text placeholder text placeholder text</p>
                </div>
                <div class="activity-card">
                    <h2>INTERACTIVE MAP</h2>    
                    <p>placeholder text placeholder text placeholder text placeholder text placeholder text placeholder text</p>
                </div>
            </section>
            <h1 class="activity-header">LATEST ACTIVITY :</h1>
            <section class="activity-info">
                <div class="activity-card">
                    <h2>ACTIVITY 1</h2>
                    <p>placeholder text placeholder text placeholder text placeholder text placeholder text placeholder text</p>
                </div>
                <div class="activity-card">
                    <h2>ACTIVITY 2</h2>
                    <p>placeholder text placeholder text placeholder text placeholder text placeholder text placeholder text</p>
                </div>
                <div class="activity-card">
                    <h2>ACTIVITY 3</h2>
                    <p>placeholder text placeholder text placeholder text placeholder text placeholder text placeholder text</p>
                </div>
            </section>
        </main>
{% endblock%}