{% extends "base.html" %}
{% load static %}

{% block title %}Dalilik - Homepage{% endblock %}


{% block main-content%}
        <main>
            <section class="hero">
                <a href = "#discord" class="hero-btn">Join our Community</a>
                <h1 class="hero-message">Dalilik your guide for study locations, course notes, and <br> interactive map for Univeristy/College campus!</h1>
                <img src="{% static 'images/hero img.png' %}", alt="Big picture that informes the visitor of the website Registered user perks", class="hero-img">
            </section>
            <section class="benefit-message">
                <h1>BENEFITS SECTION : WHY BECOME A MEMBER?</h1>
            </section>
            <section class="benefit-cards">
                <div class="benefit-card">
                    <h2>Find Study Locations</h2>
                    <p>Discover the best study locations near campus</p>
                </div>
                <div class="benefit-card">
                    <h2>Access Course Notes</h2>
                    <p>Get and Share course materials easily</p>
                </div>
                <div class="benefit-card">
                    <h2>Interactive Campus Map</h2>
                    <p>Navigate your campus with ease</p>
                    
                </div>
            </section>
        </main>
{% endblock%}

<!-- This is a comment -->