{% extends "base.html" %}
{% load static %}

{% block title %}Dalilik - Login{% endblock %}

<header>
    <img src = "{% static 'images/project logo 5.png' %}", alt="Website logo", class="logo">    
    <nav>
        <a href ="index.html" class="Link">Home</a>
        <a href = "Event.html" class="Link">Event</a>
        <a href = "Interactive_map.html" class="Link">Interactive map</a>
        <a href = "Activity_Center.html" class="Link">Activity Center</a>
        <a href = "Contact_us.html" class="Link">Contact us</a>
        <a href = "About_us.html" class="Link">About us</a>
    </nav>
    <section>
        <a href = "Register.html" class="Link" id="btn">Register</a>
        <a href = "Login.html" class="Link" id="btn">Login</a>
    </section>
</header>

{% block main-content%}{% endblock%}